<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>OtakuRank</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'main.min.css' %}">
    {% endcompress %}
    {% block head %}
    {% endblock head %}
</head>
<body>
{% include 'header.html' %}
<main class="container mt-16">
    {% block content %}
    {% endblock content %}
</main>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
