<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>OtakuRank</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'main.min.css' %}">
    {% endcompress %}
    {% block head %}
    {% endblock head %}
</head>
<body>
<div class="container">
    <header class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-lg font-bold">
                <a href="{% url 'home' %}">OtakuRank</a>
            </div>
            <nav class="flex space-x-4">
                <a href="{% url 'home' %}" class="text-gray-300 hover:text-white">Home</a>
                <button id="login" class="text-gray-300 hover:text-white">Login</button>
                <button id="register" class="text-gray-300 hover:text-white">Register</button>
            </nav>
        </div>
    </header>
    {% block content %} 
    {% endblock content %}
</div>
</body>
    {% compress js %}
        <script src="{% static 'auth.js' %}"></script>
    {% endcompress %}
    {% block scripts %}
    {% endblock scripts %}
</html>